#contact iframe
{
    width: 100%;
}

.school_mainDiv
{
    border: 1px solid lightgrey;
}

.travel_mainDiv img
{
    width: 100%;
}

.school_mainDiv h4
{
    margin: 20px;
}


.p img
{
width: 600px;
height: 600px;
}